@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ZENTROPA";
  src: url("../public/fonts/zentropa.ttf");
}
@font-face {
  font-family: "IRONMAN";
  src: url("../public/fonts/ironman.ttf");
}